@font-face {
    font-family: 'MicroExtendFLF';
    src: url(../fonts/MicroExtendFLF.ttf);
}

@font-face {
    font-family: 'MADE Outer Sans Alt Black PERSONAL USE';
    src: url(../fonts/MADE\ Outer\ Sans\ Alt\ Black\ PERSONAL\ USE.otf);
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
    color: white;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #424250;
}

body header {
    width: 100%;
    height: auto;
    background-color: #27272f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body header .left {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

body header .left .icon-title {
    color: white;
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 4px;
    margin-right: -5;
    user-select: none;
}

body header .right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 6%;
    min-width: 70px;
    height: auto;
}

body header .right .red,
body header .right .yellow,
body header .right .green {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

body header .right .red {
    background-color: red;
}

body header .right .yellow {
    background-color: yellow;
}

body header .right .green {
    background-color: green;
}

body section {
    width: 100%;
    height: auto;
    margin-bottom: 1%;
    border-bottom: 1px solid #27272f;
}

body section .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    /*background-color: #454555; /*ESSE BACKGROUND DEVO EDITAR ANTES DE FINALIZAR O PROJETO*/
}

body section .container .left {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body section .container .left .main-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

body section .container .left .main-content h1 {
    font-size: 15px;
    font-family: 'MicroExtendFLF';
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
}

body section .container .left .secondary-content {
    width: 100%;
    height: auto;
}

body section .container .left .secondary-content p {
    width: 100%;
    height: auto;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    padding-top: 0px;
    text-align: center;
}

body section .container .right {
    /*background-color: #37efba;*/
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body section .container .right .icon {
    width: 100%;
    height: auto;
    /*background-color: blue;*/
    display: flex;
    justify-content: center;
}

body section .container .right .icon i {
    color: #86868c;
    font-size: 100px;
}

body section .container .right .content {
    width: 100%;
    height: auto;
}

body section .container .right .content .content-title {
    font-family: MicroExtendFLF;
    font-weight: bolder;
}

body section .container .right .content p {
    width: 100%;
    height: auto;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body section .container2 {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    /*background-color: #86868c;*/
}

body section .container2 .title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body section .container2 .title h1 {
    font-family: 'MicroExtendFLF';
}

body section .container2 .title h2 {
    font-family: 'MADE Outer Sans Alt Black PERSONAL USE';
    padding-left: 10px;
}

body section .container2 .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

body section .container2 .content .left {
    width: 65%;
    height: auto;
}

body section .container2 .content .left .left-content-title {
    width: 100%;
    height: auto;
}

body section .container2 .content .left .left-content-title h3 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'MicroExtendFLF';
    font-size: 1.3rem;
}

body section .container2 .content .left .left-content-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 5% 20px 5%;
}

body section .container2 .content .left .left-content-body p {
    color: white;
    margin-bottom: 5px;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body section .container2 .content .right {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
}

body section .container2 .content .right .icon {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body section .container2 .content .right .icon i {
    font-size: 100px;
    color: #86868c;
}

body section .container2 .content .right .content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

body section .container2 .content .right .content .content-title {
    font-family: MicroExtendFLF;
    font-weight: bolder;
    color: white;
}

body section .container2 .content .right .content p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body section .container3 {
    width: 100%;
    height: auto;
}

body section .container3 .content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

body section .container3 .content .content-title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

body section .container3 .content .content-title h1 {
    font-family: 'MicroExtendFLF';
    width: 100%;
    height: auto;
    text-align: center;
}

body section .container3 .content-body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

body section .container3 .content-body ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    list-style: '- ';
}

body section .container3 .content-body ul li {
    width: 100%;
    height: auto;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 2%;
}

body section .container-download {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

body section .container-download .title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body section .container-download .title h1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MicroExtendFLF';
}

body section .container-download .content {
    margin-top: 0.5%;
    margin-bottom: 2%;
    width: 100%;
    height: auto;
    display: flex;
}

body section .container-download .content .left {
    width: 65%;
    height: auto;
}

body section .container-download .content .left .left-title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body section .container-download .content .left .left-title h2 {
    margin-top: 2%;
    font-family: 'MicroExtendFLF';
    font-size: 17px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body section .container-download .content .left .content-body {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body section .container-download .content .left .content-body .content-body-details {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

body section .container-download .content .left .content-body .content-body-details p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body section .container-download .content .right {
    width: 35%;
    height: auto;
}

body section .container-download .content .right .icon {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body section .container-download .content .right .icon i {
    font-size: 100px;
    color: #86868c;
}

body section .container-download .content .right .right-details {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

body section .container-download .content .right .right-details .content-title {
    color: white;
    font-family: 'MicroExtendFLF';
    font-weight: bolder;
}

body section .container-download .content .right .right-details button {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27272f;
    border: 1px solid #27272f;
    border-radius: 50px;
    margin: 20px;
}

body section .container-download .content .right .right-details button a {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: 'MicroExtendFLF';
    font-weight: bolder;
}

body section .container-download .content .right .right-details button a i {
    margin-right: 10%;
}

#ultimo-section {
    margin-bottom: 0;
    padding-bottom: 0;
}

body footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body footer .container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body footer .container span {
    color: white;
    font-family: 'MicroExtendFLF';
    padding: 5px;
}

body footer .container span a {
    color: white;
}

@media (max-width: 900px) {
    body section .container {
        flex-direction: column;
    }

    body section .container .left,
    body section .container .right {
        width: 100%;
    }

    body section .container2 .content {
        flex-direction: column;
    }

    body section .container2 .content .left {
        width: 100%;
        height: auto;
    }

    body section .container2 .content .left .left-content-title {
        width: 100%;
        height: auto;
    }

    body section .container2 .content .left .left-content-title h3 {
        padding-top: 4%;
        width: 100%;
        height: auto;
        font-size: 1rem;
        text-align: center;
    }

    body section .container2 .content .right {
        width: 100%;
        height: auto;
    }

    body section .container3 .content-body ul li {
        margin-bottom: 5%;
        padding-right: 4%;
    }

    body section .container-download .title h1 {
        font-size: 1rem;
        text-align: center;
    }

    body section .container-download .content .left .left-title h2 {
        font-size: 0.7rem;
        text-align: center;
    }

    body section .container-download .content {
        flex-direction: column;
    }

    body section .container-download .content .left {
        width: 100%;
    }

    body section .container-download .content .right {
        width: 100%;
    }

    body section .container-download .content .right .right-details .content-title {
        text-align: center;
    }

    body footer .container {
        justify-content: space-between;
    }

    body footer .container span {
        font-size: 0.5rem;
    }
}